body {
    background-color:  rgb(115 166 255) !important;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-top: 1px solid #ddd3d3;
    padding-top: 10px;
}

.quiz-card {
    width: 30rem;
}

.answer:hover {
    background-color: rgb(107, 238, 238);
    cursor: pointer;
}

.endscreen-image {
    width: 100%;
}

.endscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.disable-answers {
    pointer-events: none;
}